.contenedor {
    overflow: auto;
    margin-bottom: 45px;
}

img,
ul {
    display: inline-block;
    vertical-align: middle;
}

img {
    width: 250px;
    float: 25px;
    margin-right: 10px;
}

.contenedor ul {
    list-style: none;
}